.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicletas-lista h2 {
  margin-bottom: 40px;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 0px 20px;
  max-width: 1400px;
  margin: auto auto;
  overflow-x: auto;
}

.bicicletas-lista li {
  flex: 1;
  min-width: 280px;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 16px;
  transition-duration: 0.5s;
}

.bicicletas-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicletas-lista h3::before {
  content: "";
  background-color: var(--cor-p1);
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
}

.bicicletas-lista a:hover img {
  -webkit-box-shadow: -12px 10px 3px -4px rgba(255,187,0,0.9);
  -moz-box-shadow: -12px 10px 3px -4px rgba(255,187,0,0.9);
  box-shadow: -12px 10px 3px -4px rgba(255,187,0,0.9);
  transition-duration: 0.5s;
}


.bicicletas-lista li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }

  .bicicletas-lista ul {
    gap: 20px;
  }
}